@keyframes scale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes floatUp {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog {
  position: fixed;
  padding: 16px 24px;
  font-family: var(--bucket-feedback-dialog-font-family, InterVariable, Inter, system-ui, Open Sans, sans-serif);
  color: var(--bucket-feedback-dialog-color, #1e1f24);
  border: var(--bucket-feedback-dialog-border, 1px solid #d8d9df);
  border-radius: var(--bucket-feedback-dialog-radius, 6px);
  box-shadow: var(
    --bucket-feedback-dialog-shadow,
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05)
  );
  background-color: var(--bucket-feedback-dialog-bg, #fff);
}

.dialog[open] {
  animation: floatUp 0.2s ease-in-out, fade 0.2s ease-in-out;
}

.dialog[open]::backdrop {
  animation: fade 0.2s ease-in-out;
}

.dialog:not(.modal) {
  margin: unset;
  top: unset;
  right: unset;
  left: unset;
  bottom: unset;
}

.dialog.modal {
  margin: auto;
  margin-top: 4rem;
}

.dialog.modal[open] {
  animation: scale 0.2s ease-in-out, fade 0.2s ease-in-out;
}

.dialog.modal[open]::backdrop {
  animation: fade 0.2s ease-in-out;
}

.dialog.popover {
  position: absolute;
}

.plug {
  opacity: 0.5;
  font-size: 0.75em;
  text-align: center;
}
