.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  overflow-y: hidden;
  transition:
    opacity 300ms ease-in-out,
    max-height 300ms ease-in-out;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  border: none;
  padding: 0;
  margin: 0;

  font-size: 12px;
  color: #787c91; /* TODO: var */
}

.form-expanded-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

.title {
  color: var(--bucket-feedback-dialog-color, #1e1f24);
  font-size: 15px;
  font-weight: 400;
  line-height: 115%;
  max-width: calc(100% - 32px);
  margin-bottom: 6px;
}

.dimmed {
  opacity: 0.5;
}

.textarea {
  background-color: transparent;
  border: 1px solid;
  border-color: var(--bucket-feedback-dialog-input-border-color, #d8d9df);
  padding: 0.5rem 0.75rem;
  border-radius: var(--bucket-feedback-dialog-border-radius, 6px);
  transition: border-color 0.2s ease-in-out;
  font-family: var(
    --bucket-feedback-dialog-font-family,
    InterVariable,
    Inter,
    system-ui,
    Open Sans,
    sans-serif
  );
  resize: vertical;

  color: var(--bucket-feedback-dialog-color, #1e1f24);
  font-size: 13px;

  &::placeholder {
    color: var(--bucket-feedback-dialog-color, #1e1f24);
    opacity: 0.36;
  }

  &:focus {
    outline: none;
    border-color: var(
      --bucket-feedback-dialog-primary-button-background-color,
      #655bfa
    );
  }
}

.error {
  margin: 0;
  color: var(--bucket-feedback-dialog-error-color, #e53e3e);
  font-size: 0.8125em;
  font-weight: 500;
}

.submitted {
  display: flex;
  flex-direction: column;
  transition: opacity 300ms ease-in-out;

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: calc(100% - 56px);
  height: 60px;

  padding: 32px 28px 6px;

  .icon {
    font-size: 2em;
  }

  .text {
    margin: auto;
    text-align: center;
    color: var(--bucket-feedback-dialog-color, #1e1f24);
    font-size: var(--bucket-feedback-dialog-font-size, 1rem);
    font-weight: 450;
    line-height: 130%;

    flex-grow: 1;
    max-width: 160px;
  }

  > .plug {
    flex-grow: 0;
  }
}
