@keyframes scale {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

@keyframes floatUp {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog {
  position: fixed;
  width: max-content;
  padding: 16px 24px;
  font-size: var(--bucket-feedback-dialog-font-size, 1rem);
  font-family: var(--bucket-feedback-dialog-font-family, InterVariable, Inter, system-ui, Open Sans, sans-serif);
  color: var(--bucket-feedback-dialog-color, #1e1f24);
  border: 1px solid;
  border-color: var(--bucket-feedback-dialog-border, #d8d9df);
  border-radius: var(--bucket-feedback-dialog-radius, 6px);
  box-shadow: var(
    --bucket-feedback-dialog-shadow,
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05)
  );
  background-color: var(--bucket-feedback-dialog-bg, #fff);
}

.dialog:not(.modal) {
  margin: unset;
  top: unset;
  right: unset;
  left: unset;
  bottom: unset;
}

.arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--bucket-feedback-dialog-bg, #fff);
  box-shadow: var(--bucket-feedback-dialog-border) -1px -1px 1px 0px;
  transform: rotate(45deg);
}
.arrow.bottom {
  box-shadow: var(--bucket-feedback-dialog-border) -1px -1px 1px 0px;
}
.arrow.top {
  box-shadow: var(--bucket-feedback-dialog-border) 1px 1px 1px 0px;
}
.arrow.left {
  box-shadow: var(--bucket-feedback-dialog-border) 1px -1px 1px 0px;
}
.arrow.right {
  box-shadow: var(--bucket-feedback-dialog-border) -1px 1px 1px 0px;
}

.plug {
  opacity: 0.5;
  font-size: 0.75em;
  text-align: center;
}

/* Modal */ 

.dialog.modal {
  margin: auto;
  margin-top: 4rem;
}

.dialog.modal[open] {
  animation: scale 100ms ease-in-out, fade 100ms ease-in-out;
}

.dialog.modal[open]::backdrop {
  animation: fade 100ms ease-in-out;
}

/* Anchored */ 

.dialog.anchored {
  position: absolute;
}
.dialog.anchored.bottom {
  transform-origin: top center;
}
.dialog.anchored.top {
  transform-origin: bottom center;
}
.dialog.anchored.left {
  transform-origin: right center;
}
.dialog.anchored.right {
  transform-origin: left center;
}

.dialog.anchored[open] {
  animation: scale 100ms ease-in-out, fade 100ms ease-in-out;
}

/* Unanchored */

.dialog[open].unanchored {
  animation: floatUp 100ms ease-in-out, fade 100ms ease-in-out;
}
