.star-rating {
  display: flex;

  gap: 6px;
}

.star-rating label {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 28px;
  height: 28px;

  border: 1px solid black;
  border-radius: 5px;

  position: relative;
  transition: transform 100ms, background-color 100ms;
}

.star-rating label:focus-within {
  outline: 1px solid blue;
}

.star-rating label span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  Color in currently selected value container
  and also all the lower value ones
*/
.star-rating label:has(input:checked),
.star-rating label:has(~ label input:checked) {
  background-color: yellowgreen;
}

.star-rating label:has(input:checked) {
  transform: scale(1.1);
}

/*
  Accessible hiding of the radio input
*/
.star-rating input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
