.switch {
  cursor: pointer;
}

.switch-track {
  position: relative;
  transition: background 0.1s ease;
  background: #606476;
}

.switch[data-enabled="true"] .switch-track {
  background: #847cfb;
}

.switch-dot {
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  transition: transform 0.1s ease-in-out;
}
