[data-theme="dark"] {
  --bucket-feedback-dialog-background-color: #1e1f24;
  --bucket-feedback-dialog-color: rgba(255, 255, 255, 0.92);
  --bucket-feedback-dialog-secondary-color: rgba(255, 255, 255, 0.3);
  --bucket-feedback-dialog-border: rgba(255, 255, 255, 0.16);
  --bucket-feedback-dialog-primary-button-background-color: #655bfa;
  --bucket-feedback-dialog-primary-button-color: white;
  --bucket-feedback-dialog-input-border-color: rgba(255, 255, 255, 0.16);
  --bucket-feedback-dialog-input-focus-border-color: rgba(255, 255, 255, 0.3);
  --bucket-feedback-dialog-error-color: #f56565;

  --bucket-feedback-dialog-rating-1-color: #ed8936;
  --bucket-feedback-dialog-rating-1-background-color: #7b341e;
  --bucket-feedback-dialog-rating-2-color: #dd6b20;
  --bucket-feedback-dialog-rating-2-background-color: #652b19;
  --bucket-feedback-dialog-rating-3-color: #787c91;
  --bucket-feedback-dialog-rating-3-background-color: #3e404c;
  --bucket-feedback-dialog-rating-4-color: #38a169;
  --bucket-feedback-dialog-rating-4-background-color: #1c4532;
  --bucket-feedback-dialog-rating-5-color: #48bb78;
  --bucket-feedback-dialog-rating-5-background-color: #22543d;

  --bucket-feedback-dialog-submitted-check-background-color: #38a169;
  --bucket-feedback-dialog-submitted-check-color: #ffffff;

  color: var(--bucket-feedback-dialog-color);
  background-color: #191a1f;
}

[data-theme="custom"] {
  --bucket-feedback-dialog-font-size: 1.5rem;
  --bucket-feedback-dialog-font-family: monospace;
  --bucket-feedback-dialog-border-radius: 0px;
  --bucket-feedback-dialog-background-color: papayawhip;
  --bucket-feedback-dialog-color: firebrick;
  --bucket-feedback-dialog-secondary-color: palevioletred;
  --bucket-feedback-dialog-border: palevioletred;
  --bucket-feedback-dialog-primary-button-background-color: palevioletred;
  --bucket-feedback-dialog-primary-button-color: white;
  --bucket-feedback-dialog-input-border-color: palevioletred;
  --bucket-feedback-dialog-input-focus-border-color: firebrick;

  --bucket-feedback-dialog-submitted-check-background-color: firebrick;
  --bucket-feedback-dialog-submitted-check-color: papayawhip;

  --bucket-feedback-dialog-tooltip-color: white;
  --bucket-feedback-dialog-tooltip-background-color: palevioletred;

  --bucket-feedback-dialog-rating-1-color: firebrick;
  --bucket-feedback-dialog-rating-1-background-color: #fff;
  --bucket-feedback-dialog-rating-2-color: firebrick;
  --bucket-feedback-dialog-rating-2-background-color: #fff;
  --bucket-feedback-dialog-rating-3-color: firebrick;
  --bucket-feedback-dialog-rating-3-background-color: #fff;
  --bucket-feedback-dialog-rating-4-color: firebrick;
  --bucket-feedback-dialog-rating-4-background-color: #fff;
  --bucket-feedback-dialog-rating-5-color: firebrick;
  --bucket-feedback-dialog-rating-5-background-color: #fff;

  color: var(--bucket-feedback-dialog-color);
  background-color: #fff;
}

html,
body {
  font-family: var(--bucket-feedback-dialog-font-family);
}

#app {
  max-width: 80ch;
  margin: auto;
  outline: 1px dotted red;
  padding: 20px;
}
