@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 1000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -10px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, 5px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -3px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

#toolbarRoot {
  --brand300: #a39dfc;
  --brand400: #847cfb;
  --gray500: #787c91;
  --black: #1e1f24;

  --bg-color: #1e1f24;
  --border-color: #292b32;
  --logo-color: white;
  --text-color: white;
  font-family: monospace;
  font-size: 12px;
}

:focus {
  outline: none;
}

.dialog {
  color: #ffffff;
  box-sizing: border-box;
  background-color: var(--black);
  border: 1px solid var(--border-color);
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  z-index: 999999;
  min-width: 200px;
}

.toolbar-toggle {
  width: 32px;
  height: 32px;
  position: fixed;
  z-index: 999999;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: var(--logo-color);
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 9px;

  /* background: #787c91; */

  display: flex;
  justify-content: center;
  align-items: center;

  animation: bounceInUp 1s ease-out;
}

.toolbar-toggle .override-indicator {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 8px;
  height: 8px;
  background-color: var(--brand400);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  border: 1px solid var(--brand300);

  &.show {
    opacity: 1;
    animation: gelatine 0.5s;
  }
}

.arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--black);
  box-shadow: var(--border-color) -1px -1px 1px 0px;
  transform: rotate(45deg);

  &.bottom {
    box-shadow: var(--border-color) -1px -1px 1px 0px;
  }
  &.top {
    box-shadow: var(--border-color) 1px 1px 1px 0px;
  }
  &.left {
    box-shadow: var(--border-color) 1px -1px 1px 0px;
  }
  &.right {
    box-shadow: var(--border-color) -1px 1px 1px 0px;
  }
}
