/* Animations */

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 1000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -10px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, 5px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -3px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* Toolbar */

.toolbar {
  --brand300: #a39dfc;
  --brand400: #847cfb;
  --gray500: #787c91;
  --black: #1e1f24;

  --bg-color: hsla(230, 9%, 8%, 0.85);
  --bg-light-color: hsla(230, 9%, 6%, 0.85);
  --border-color: hsla(0, 0%, 100%, 0.1);
  --dimmed-color: hsla(230, 9%, 40%, 1);
  --bg-blur: 3px;

  --logo-color: white;
  --text-color: white;
  --text-size: 13px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: var(--text-size);
}

:focus {
  outline: none;
}

.dialog {
  color: #ffffff;
  box-sizing: border-box;
  background: var(--bg-color);
  backdrop-filter: blur(var(--bg-blur));
  -webkit-backdrop-filter: blur(var(--bg-blur));

  border: 0;
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    inset 0px 1px rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  z-index: 999999;
  min-width: 220px;
  padding: 0;

  --visible-features: 15;
  max-height: min(
    calc(100vh - 36px - 35px),
    calc(45px + (var(--visible-features) * 27px))
  );
  height: auto;

  &[open] {
    display: flex;
    flex-direction: column;
  }
}

.dialog-content {
  overflow-y: auto;
  max-height: 100%;
  flex-grow: 1;
  margin: 3px 3px 3px 0;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 999px;
    transition: background-color 0.1s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}

.toolbar-toggle {
  width: 36px;
  height: 36px;
  position: fixed;
  z-index: 999999;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: var(--logo-color);
  background: var(--bg-color);
  backdrop-filter: blur(var(--bg-blur));
  -webkit-backdrop-filter: blur(var(--bg-blur));

  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.15),
    0px 4px 6px -2px rgba(0, 0, 0, 0.1),
    inset 0px 1px rgba(255, 255, 255, 0.1);
  border-radius: 999px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: bounceInUp 1s ease-out;

  transition:
    color 0.1s ease,
    background 0.1s ease;

  &.open {
    color: var(--gray500);
    background: var(--bg-light-color);
  }

  & .override-indicator {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 8px;
    height: 8px;
    background-color: var(--brand400);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.1);

    &.show {
      opacity: 1;
      animation: gelatine 0.5s;
    }
  }
}
